@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 0.8rem;
  font-family: 'Roboto', serif;
}

#app {
  min-height: 100vh;
}

h1,
h2,
span,
p {
  font-family: 'Poppins', serif;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(119deg) brightness(104%) contrast(102%);
}

.filter-primary {
  filter: invert(24%) sepia(82%) saturate(341%) hue-rotate(123deg) brightness(90%) contrast(100%);
}

.filter-secondary {
  filter: invert(80%) sepia(23%) saturate(581%) hue-rotate(11deg) brightness(83%) contrast(87%);
}

.filter-red {
  filter: invert(41%) sepia(9%) saturate(3833%) hue-rotate(314deg) brightness(82%) contrast(93%);
}

.filter-disable {
  filter: invert(68%) sepia(2%) saturate(18%) hue-rotate(357deg) brightness(87%) contrast(84%);
}
